
#editor{
  width:98vw;
  height:30vh;
  background-color:#bdcebe;
  max-width:800px;
  margin:auto;
  display:block;
} 

#preview{
  width:98vw;
  height:60vh;
  background-color:#bdcebe;
  max-width:800px;
  margin:auto;

} 

h1{
  text-align:center;
}

